<ul>
    <li><strong>Name: </strong><%=@customer.fullname%></li>
    <li><strong>Gender: </strong><%=@customer.gender%></li>
    <li><strong>Date of Birth: </strong><%=@customer.dob%></li>
    <li><strong>Address: </strong><%=@customer.address%></li>
    <li><strong>City: </strong><%=@customer.city%></li>
    <li><strong>Province: </strong><%=@customer.province%></li>
    <li><strong>Postal Code: </strong><%=@customer.postalcode%></li>
    <li><strong>Region: </strong><%=@customer.region%></li>
</ul>