<%colorScheme = ["#000000","#2F4E6F","#98B1C4","#E15119","#CCCCCC","#F1EFE2"]%>
<h1><strong><%=params[:cat]%></strong></h1>

<div id="large-trend" class="larger-graph shadow">
    
</div>
<div class="row pies">
    <div class="span4">
        <h3>Region</h3>
        <span class="inlinesparkline left">
            <%@region_orders.each do |sale|%>
                 <%=sale.count%>,
             <%end%>
        </span>
        <div class="pie-legend">
            <%@region_orders.each_with_index do |sale, index|%>
                 <div style="color:<%=colorScheme[index%5]%>;" ><%=sale.region%></div>
             <%end%>
         </div>
    </div>
    <div class="span4">
        <h3>Province</h3>
        <span class="inlinesparkline left">
            <%@prov_orders.each do |sale|%>
                 <%=sale.count%>,
             <%end%>
        </span>
        <div class="pie-legend">
            <%@prov_orders.each_with_index do |sale, index|%>
                 <div style="color:<%=colorScheme[index%5]%>;" ><%=sale.province%></div>
             <%end%>
         </div>
    </div>
    <div class="span4">
        <h3>City</h3>
        <span class="inlinesparkline left">
            <%@city_orders.each do |sale|%>
                 <%=sale.count%>,
             <%end%>
        </span>
        <div class="pie-legend">
            <%@city_orders.each_with_index do |sale, index|%>
                 <div style="color:<%=colorScheme[index%5]%>;" ><%=sale.city%></div>
             <%end%>
         </div>
    </div>
</div>
<hr class="shadow"/>

<table id="products" class="tablesorter">
<thead> 
    <tr>
        <th>
            SKU
        </th>
        <th>
            Description
        </th>
        <th>
            Brand
        </th>
        <th>
            Department
        </th>
        <th>
            Sub-Category
        </th>
        <th>
            Package Type
        </th>
        <th>
            # Sales
        </th>
        <th>
            Revenue
        </th>
    </tr>
</thead>
<tbody>  
    <%@products.each do |product|%>
        <tr val="<%=product.id%>">
            <td>
                 <a href="/product/<%=product.id%>"><%= product.sku %></a>
            </td>
            <td>
                  <%= product.description %>
            </td>
            <td>
                  <%= product.brand %>
            </td>
            <td>
                  <%= product.department %>
            </td>
            <td>
                  <%= product.subcategory %>
            </td>
            <td>
                  <%= product.package_type %>
            </td>
            <td>
                <%= product.ShipFacts.length%>
            </td>
            <td>
                <%revenueTotal = 0%>
                <%product.ShipFacts.each do |fact|%>
                    <%revenueTotal = revenueTotal + fact.sale_price%>
                <%end%>
                <%=number_to_currency(revenueTotal, :precision => 2)%>
            </td>
        </tr>
    <% end %>
</tbody> 
</table>

<script type="text/javascript">
    var colorScheme = ["#000000","#2F4E6F","#98B1C4","#E15119","#CCCCCC","#F1EFE2"];
    $(document).ready(function(){
        $("#products").tablesorter();
        $.fn.sparkline.defaults.common.type = "pie";
        $.fn.sparkline.defaults.common.width = "150px";
        $.fn.sparkline.defaults.common.height = "150px";
        $.fn.sparkline.defaults.pie.sliceColors = colorScheme;
        $('.inlinesparkline').sparkline();
    });
    google.load('visualization', '1', {'packages':['annotatedtimeline']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', '# Of Sales');
        data.addRows([
            <%@orders.each do |date|%>
                 [Date.parseExact("<%=date.order_date_kay%>","yyyyMMdd"),<%=date.count%>],
             <%end%>
        ]);

        var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('large-trend'));
        chart.draw(data, {});
    }
</script>