<ul>
    <li><strong>Description: </strong><%=@transaction.transaction_description%></li>
    <li><strong>Description: </strong><%=@transaction.transaction_type%></li>
    <li><strong>Carrier Name: </strong><%=@transaction.carrier_name%></li>
    <li><strong>Carrier Name: </strong><%=@transaction.carrier_name%></li>
    <li><strong>Carrier Address: </strong><%=@transaction.carrier_address%></li>
    <li><strong>Carrier City: </strong><%=@transaction.carrier_city%></li>
    <li><strong>Carrier Province: </strong><%=@transaction.carrier_province%></li>
</ul>