<table id="products" class="tablesorter">
<thead> 
    <tr>
        <th>
            SKU
        </th>
        <th>
            Trend
        </th>
        <th>
            Description
        </th>
        <th>
            Brand
        </th>
        <th>
            Department
        </th>
        <th>
            Category
        </th>
        <th>
            Sub-Category
        </th>
        <th>
            Package Type
        </th>
        <th>
            # Sales
        </th>
        <th>
            Revenue
        </th>
    </tr>
</thead>
<tbody>  
    <%@products.each do |product|%>
        <tr val="<%=product.id%>">
            <td>
                 <a href="/product/<%=product.id%>"><%= product.sku %></a>
            </td>
            <td>
                <span class="inlinesparkline">
                    <%product.getDailySales.each do |date|%>
                         <%=date.count%>,
                    <%end%>
                </span>
            </td>
            <td>
                  <%= product.description %>
            </td>
            <td>
                  <%= product.brand %>
            </td>
            <td>
                  <%= product.department %>
            </td>
            <td>
                  <%= product.category %>
            </td>
            <td>
                  <%= product.subcategory %>
            </td>
            <td>
                  <%= product.package_type %>
            </td>
            <td>
                <%= product.ShipFacts.length%>
            </td>
            <td>
                <%revenueTotal = 0%>
                <%product.ShipFacts.each do |fact|%>
                    <%revenueTotal = revenueTotal + fact.sale_price%>
                <%end%>
                <%=number_to_currency(revenueTotal, :precision => 2)%>
            </td>
        </tr>
    <% end %>
</tbody> 
</table>

<script>
    $(document).ready(function(){
        $("#products").tablesorter();
        $.fn.sparkline.defaults.common.lineColor = "#CCC";
        $.fn.sparkline.defaults.common.fillColor = "#CCC";
        $.fn.sparkline.defaults.common.width = "120px";
        $.fn.sparkline.defaults.common.height = "15px";
        $.fn.sparkline.defaults.line.spotColor = false;
        $.fn.sparkline.defaults.line.minSpotColor = false;
        $.fn.sparkline.defaults.line.maxSpotColor = false;
        $('.inlinesparkline').sparkline();
    });
</script>