<ul>
    <li><strong>Name: </strong><%=@warehouse.name%></li>
    <li><strong>Type: </strong><%=@warehouse.warehousetype%></li>
    <li><strong>Address: </strong><%=@warehouse.address%></li>
    <li><strong>City: </strong><%=@warehouse.city%></li>
    <li><strong>Province: </strong><%=@warehouse.province%></li>
    <li><strong>Postal Code: </strong><%=@warehouse.postalcode%></li>
</ul>