<%@facts.each do |fact|%>
    <tr val="<%=fact.id%>">
        <td class="product-summary" val="<%= fact.Product.id%>">
            <%= fact.Product.description %>
        </td>
        <td class="customer-summary" val="<%= fact.Customer.id%>">
             <%= fact.Customer.fullname %>
        </td>
        <td class="warehouse-summary" val="<%= fact.Warehouse.id%>">
             <%= fact.Warehouse.name %>
        </td>
        <td class="transaction-summary" val="<%= fact.Transaction.id%>">
             <%= fact.Transaction.transaction_description %>
        </td>
        <td class="shipment-summary" val="<%=fact.Shipment.id%>">
             <%= fact.Shipment.shipping_key %>
        </td>
        <td>
             <%= number_to_currency(fact.sale_price, :precision => 2) %>
        </td>
        <td>
             <%= number_to_currency(fact.cost_price,:precision => 2) %>
        </td>
        <td>
             <%= number_to_currency(fact.tax_amount, :precision => 2) %>
        </td>
        <td>
             <%= fact.tax_percent %>
        </td>
        <td>
             <%= fact.free_shipping %>
        </td>
    </tr>
<% end %>